{
  "retainLines": true,
  "compact": false,
  "comments": false,
  "presets": ["es2015"],
  "sourceMaps": false,
  "plugins": [
    "transform-object-assign",
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "transform-es2015-shorthand-properties",
  ]
}
